body {
  --slack-color: #3f0f40;
  overflow: hidden;  /* so that we do not have any scroll bars */
}

.app__body {
  display: flex;  /* so that routes and sidebar do not stacks up */
  height: 100vh;  /* now the height of both sidebar and routes will become 100vh */
}